/* font link  */

body{
    font-family: 'Poppins', sans-serif;
}

/* *** Stert *** section banner  */

.banner-section{
    background-image:url("Banner\ Image.png");
    width: 1320px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.banner-article{
    color:white;
    text-align: center;
    justify-content: center;
}   

/**** End section *** */
/**** End section *** */


 /* Stert section 65 % Off  */
 /* ================ */
 /* ================= */
 
 .section-2{
    width: 802px;
    height: 806px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
#off{
    font-size:80px;
    text-align: center;
    padding-top: 40px;
    color: rgb(213, 46, 46);
    margin: 0px;
}
#our-holy{
    text-align: center;
    margin-bottom: 0px;
    color: rgba(241, 58, 58, 0.869);
}
#all-cate{
    text-align: center;
    font-size: 26px;
    margin: 5px;
    
}
#new-year-img{
    padding-top: 25px;
}

/**** End section *** */
/**** End section *** */

/* ** Stert *** section weell come to idnight party */
/* ====================== */
/* ========================= */


.well-come{
    width: 1320px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-image: url(Vectorrr.png);
    
}
.well-mother{
    display: flex;
}
.well-div-mother{
    position: relative;
    left: 120px;
    top: 110px;
    

}
#well-h1{
    font-size: 60px;
    color: white;
}
#well-p{
    color: white;
    font-size: 20px;

}
#well-button{
    margin-top: 40px;
    background:none;
    color: white;
    font-size: 1.2em;
    border: none;
}
.well-img{
    position: relative;
    left: 200px;
    top: 90px;
}

/**** End section *** */
/**** End section *** */

/* Stert ***section place hotel date and time  */
/* ===================================== */
/* =====================================
====================================*/


.hotel-place{
    width: 1320px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgb(250, 226, 226),white);
    margin-top: 60px;
    border-radius: 15px;
}

span{
    color: red;
}
.hotel-div{
    padding-top: 100px ;
    text-align: center;
    font-size: 1.5em;
}
.hotel-h1{
    margin: 8px;
}

#hotel-button{
    font-size: 20px;
    font-weight: 600;
    padding: 5px 30px;
    color: white;
    border: none;
    background-color: red;
    border-radius: 10PX ;
    margin-top: 40px;
}

/**** End section *** */
/**** End section *** */

/* ** Stert ** section best offer  */
.new-section{
    margin-left: auto;
    margin-right: auto;
    width: 1320px;
    height: 463px;
    margin-top: 100px;

}

.best-offer-div{
    display:flex;
    gap: 50px;
   
    
}
#img{
    padding: 30px;
}

.ellipse-img{
    border: 18px solid red;
    border-radius: 300px 300px;
    width: 365px;
    
    
}